<div class="adventure row pt-5">
  <div class="create_container">
    <div class="tab_rdv">
      <div class="map">

      </div>
      <div class="where_when">

      </div>
    </div>
    <div class="tab_game">
      <div class="tchat">

      </div>
      <div class="characters">
        <div class="characters_tabs">

        </div>
        <div class="info_characters">

        </div>
        <div class="primary_specs">

        </div>
        <div class="secondary_specs">

        </div>
        <div class="inventories">

        </div>
      </div>
    </div>
  </div>
  <div class="search_container">
    <div class="searchbar">

    </div>
    <div class="search_result">
      
    </div>
  </div>
</div>
