<div class="adventure row pt-5 justify-content-center">
  <div class="game-view row">
    <div class="left-side col-md-8">
      <div class="top-side col-md-12">
        MAP
      </div>
      <div class="bot-side mt-3 col-md-12">
        RDV
      </div>
    </div>
    <div class="right-side col-md-4">
      <div class="select-charac col-md-12">
        <select class="form-control col-md-6">
          <%@character.each do |char|%>
            <option><%=char.pseudo%></option>
          <%end%>
        </select>
      </div>
      <div class="info-charach col-md-12">
        info charac selectionné
      </div>
      <div class="prim-specs col-md-12">
        prim-specs du charac
      </div>
      <div class="sec-specs col-md-12">
        sec-specs du charac
      </div>
      <div class="inv-charac col-md-12">
        inv-charac
      </div>
    </div>
  </div>
</div>
