<div class="session row pt-5 justify-content-center">
  <div class="game-view row">
    <div class="left-side col-md-8">
      <div class="top-side col-md-12">
        MAP
      </div>
      <div class="bot-side mt-3 col-md-12">
        <% if @game.date %>
          <span class="date col-md-12 ml-5 pl-5"><%= @game.date.strftime('La prochaine rencontre se déroulera à %H:%M le %d:%b:%Y')%></span>
        <% end %>
      </div>
    </div>
    <div class="right-side col-md-4 mt-3">
      <div class="select-charac col-md-12">
        <select class="col-md-12 mt-2" id="characters_select">
          <option value="gm"><%= @gm.pseudo %> (Maitre du Jeu)</option>
          <% @characters.each do |char|%>
            <option value="<%= char %>"><%=char.pseudo%></option>
          <%end%>
        </select>
      </div>
      <div class="info-charach col-md-12">
        info charac selectionné
      </div>
      <div class="prim-specs col-md-12">
        prim-specs du charac
      </div>
      <div class="sec-specs col-md-12">
        sec-specs du charac
      </div>
      <div class="inv-charac col-md-12">
        inv-charac
      </div>
      <div class="link-profile col-md-12">
        link
      </div>
    </div>
  </div>
</div>
