<% if @user.roles.find_by(game_session: @game_session).game_master === "f" %>

  <a href="https://adopte-un-roliste.herokuapp.com/opinions?game_session=<%= @game_session.title %>&MJ=false&sender=<%= @user.pseudo %>"> Cliquez ici pour donner votre opinion !</a>

<% else %>

  <a href="https://adopte-un-roliste.herokuapp.com/opinions?game_session=<%= @game_session.title %>&MJ=true&sender=<%= @user.pseudo %>"> Cliquez ici pour donner votre opinion !</a>

<% end %>
