<div class="landing-page pt-5">
  <div class="banner dark-translucent-bg mt-4">
    <div class="container">
      <div class="row justify-content-lg-left">
        <div class="text-justify pv-20">
          <h1 class="page-title text-center">Adopte un Roliste</h1>
          <div class="separator"></div>
          <div class="row">
            <div class="col-lg-4">
              <div class="ph-20 hc-item-box text-center">
                <span class="icon default-bg circle"><i class="fa fa-group"></i></span>
                <h3>Gestion de partie</h3>
                <div class="separator clearfix"></div>
                <p>Un système de session de jeu permettant d'oganiser les parties de JDR, comportant des rôles MJ et joueurs, ainsi qu'un accès direct aux fiches personnages.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ph-20 hc-item-box text-center">
                <span class="icon default-bg circle"><i class="fa fa-globe"></i></span>
                <h3>Rencontres Old School</h3>
                <div class="separator clearfix"></div>
                <p>Un système de géolocalistion, pour retrouver les parties les plus proches de chez vous. Et au seins des sessions, organisez un rendez-vous pour des rencontres IRL et des parties de JDR Old School.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="ph-20 hc-item-box text-center">
                <span class="icon default-bg circle"><i class="fa fa-address-card-o"></i></span>
                <h3>Création de personnages</h3>
                <div class="separator clearfix"></div>
                <p>Il est possible de créer son personnage ainsi que son inventaire et ses caractéristiques directement sur le site afin de garder une trâce de lui et de l'éditer à tous moments dans notre base de données.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
