<div class="landing-page">
  <div class="banner dark-translucent-bg">
    <div class="container">
      <div class="row justify-content-lg-left">
        <div class="text-center pv-20">
          <div class="desc">
            <p>Coucou</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
