<div class="landing-page pt-5">
  <div class="banner dark-translucent-bg mt-5">
    <div class="container">
      <div class="row justify-content-lg-left">
        <div class="text-justify pv-20">
          <div class="desc">
            <h3>Une envie de jeu de role?</h3>
            <p>Ne t'inquiète plus, Adopte un roliste est là pour toi. Nous t'aiderons à trouver des compagnons grâce à notre mode aventure,</br> mais aussi à créer et stocker tes fiches personnages!
            </br>Alors n'attends plus, va vite découvrir nos univers et inscris toi sans plus attendre grâce à Marc Mag'ordhomme notre mage qui t'attend en haut à droite!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
