.characterbackground {
  background: url('https://i.imgur.com/RIhHH2f.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
