.formbackground {
  background-image: url('https://that70sgame.files.wordpress.com/2013/05/fantasy-fantasy-32757148-1920-1200-1.jpg');
  background-size: cover;
  height: 550px;
  z-index: 0;
}

.page-wrapper {
  background-color: transparent !important;
}
