// Place all the styles related to the Roleplay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jdr-background {
  background-image: url('https://images5.alphacoders.com/548/548279.jpg');
  background-size: cover;
  height:100vh;
  z-index: 0;
}

.main-container {
  background-color: rgb(255,232,190)!important;
  height: 275px;
  padding: 25px;
}

.card {
  background-image: linear-gradient(rgb(125, 112, 98), rgba(125, 112, 98, 0.9)) !important;
  height: 25%;
  margin-left: 50px;
  display: flex!important;
  flex-direction: row!important;
  opacity: 0.9;
}

.RPcontent {
  margin-left: -25%;
}

.title {
  color: Black;
  font-family: "raleway";
}

.p {
  margin-left: 5%;
  color: white;
  font-family: "Open-sans"
}

.RP{
  padding-top: 15px;
  padding-bottom: 7px;
}
.pic {
  width: 35%;
}
